.btn {
  color: #fff;
  background-color: #3470ff;
  border-radius: 12px;
  padding: 12px 88px;
  width: 276px;
  height: 44px;
  border: transparent;
}
.btn:hover {
  background-color: #0b44cd;
}
.view {
  display: flex;
  margin: 0 auto;
}
.search {
  width: 156px;
  padding: 12px 51px;
}
.readMore {
  padding: 12px 97px;
}
.loadMore {
  width: 156px;
  padding: 12px 38px;
  border: 1px solid #3470ff;
  background-color: transparent;
  color: #101828;
  display: flex;
  margin: 0 auto;
}
.loadMore:hover {
  border: 1px solid #0b44cd;
  background-color: transparent;
}
