.nameId {
  display: flex;
  gap: 16px;
  align-items: baseline;
}

.brandCar {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
}
.idCar {
  color: #8d929a;
}

.rentalPrice {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #3470ff;
  margin-top: 16px;
  margin-bottom: 32px;
}
.wrapper {
  margin-bottom: 68px;
}
