.carImg {
  border-radius: 14px;
  width: 276px;
  height: 268px;
  margin-bottom: 16px;
}
.brand {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.model {
  color: #3470ff;
}
.details {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  color: #8d929a;
  margin-bottom: 28px;
}
.wrapperCard {
  position: relative;
}
.iconHeart {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  pointer-events: auto;
}
.iconHeart:hover {
  stroke: #3470ff;
}
