.header {
  background-color: #f2f4f7;
  border-bottom: 1px solid #f2f4f7;
  padding: 24px 120px;
  display: flex;
  justify-content: space-between;
}
.nav {
  text-align: center;
  display: flex;
  gap: 32px;
}
.active {
  color: #0b44cd;
}
